// Colors
$white: #ffffff;
$black: #000000;
$black-01: rgba(0, 0, 0, 0.1);
$black-07: rgba(0, 0, 0, 0.7);

$wash-me: #fafcfd;
$red: #ff0000;

//fonts
$basic-font-title: "Arial", sans-serif;
$basic-font-title-semibold: "Arial", sans-serif;
$basic-font-text: "Arial", sans-serif;
$basic-font-text-special: "Arial", sans-serif;

// Viewports
$mobile-width-only: 699px;
$tablet-width: 700px;
$desktop-width: 1300px;
