.main {
    padding: 15px;
    background-color: $wash-me;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
        margin-top: 100px;
    }

    @media (min-width: $desktop-width) {
    }
}

.section {
    border: 2px solid black;
    margin: 0 auto 15px auto;
    padding: 10px;

    border-radius: 10px;
    background-color: $wash-me;

    max-width: 600px;

    @media (min-width: $desktop-width) {
        margin: 0 auto 15px auto;
        width: 100%;
    }
}

.section__title {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
}

.section__subtitle {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
}

.section__text {
    margin: 0;
    font-size: 12px;

    @media (min-width: $tablet-width) {
        font-size: 10px;
    }
}

.section__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user__wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
}

.user__avatar {
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
}

.user__avatar-wrapper {
    width: 100px;
    height: 100px;

    border: 1px solid $black;
    border-radius: 7px;

    background-image: url("https://robohash.org/blanditiisutquam.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.user__name-wrapper {
    margin-left: 5px;
}

.user-info {
    height: 0px;
    overflow: hidden;

    &--open {
        height: auto;
        overflow: auto;
    }
}

.user__list {
    list-style: none;
    padding: 0;
    margin: 0;

    @media (min-width: $tablet-width) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.user__map-wrapper {
    height: 150px;
    border-radius: 5px;
}

.map__canvas {
    width: 100%;
    height: 100%;
}

.beer-section {
    background-color: white;
    background-image: url(../img/beer-4.png);
    background-size: 50%;
    background-position: right;
    background-repeat: no-repeat;
}

.beer-info__list {
    width: 50;
    list-style: none;
    padding: 0;
    margin: 0;
}

.beer-info__text {
    margin: 0;
    font-size: 12px;
}

.user-info__title,
.beer-info__title {
    font-size: 12px;
    font-weight: 600;
}

.control {
    display: flex;
    flex-direction: column;
}

.beer-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
