.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body {
  margin: 0;
  min-width: 375px;
  background-color: #ffffff;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.disabled {
  display: none;
}

.container {
  width: auto;
  padding: 0 15px;
}

.main {
  padding: 15px;
  background-color: gray;
}

.section {
  margin: 0 auto 15px auto;
  padding: 10px;
  border-radius: 15px;
  background-color: white;
}

.section__title {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.section__subtitle {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  text-align: left;
}

.section__text {
  margin: 0;
  font-size: 15px;
}

.section__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user__avatar {
  margin: 0 auto;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user__avatar-wrapper {
  width: 300px;
  height: 300px;
  background-image: url("https://robohash.org/blanditiisutquam.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.user__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.map__wrapper {
  height: 150px;
  border-radius: 5px;
}

.map__canvas {
  width: 100%;
  height: 100%;
}

.beer-section {
  border: 2px solid black;
  background: url(../img/beer-card-3.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.beer-info__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.beer-info__text {
  margin: 0;
  font-size: 15px;
}

.control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 700px) {
  .main {
    width: 600px;
  }
}

@media (min-width: 1200px) {
  .main {
    width: 1000px;
  }
}

@media print {
  .noPrint {
    display: none;
  }
}